@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

:root {
  --primary: #b71c1c;
  --primary-dark: #7f0000;
  --secundary: #f57f17;
  --secundary-dark: #bc5100;
}

.container {
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}


.contact {
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  padding: 10px;
  /* border: 1px solid #000; */
}

.label {
  font-size: 14px;
  text-align: left;
}

h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;

  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 40px;
}

h4 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;

  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact button[type="cancel"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.aliner_boton {
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  width: 80px;
  border: none;
  color: #fff;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

.btn-primary {
  background: var(--primary);
}

.btn-primary:hover {
  background: var(--primary-dark);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn-secundary {
  background: var(--secundary);
}

.btn-secundary:hover {
  background: var(--secundary-dark);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}